{%include 'header.html'%}

{% block navbar_admin %}
    {% include 'dashboards/admin/admin_nav.html' %}
{% endblock %}

<!-- Main Content -->
<div class="main-content" id="content">
    <div class="container mt-5">
        <br>
        <br>
<h2>Manage Orders</h2>
<table class='table'>
    <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Total Price</th>
        <th>Actions</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.user.username }}</td>
        <td>{{ order.status }}</td>
        <td>RS. {{ order.total_price }}</td>
        <td>
            
            <a href="{% url 'admin_order_detail' order.id %}">View</a> |
            <a href="{% url 'admin_order_edit' order.id %}">Edit</a> |
            <a href="{% url 'admin_order_delete' order.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</div>
</div>

<!-- JavaScript -->
<script>
    // JavaScript for toggle functionality
    const toggleBtn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('hide'); // Toggle visibility of sidebar
        content.classList.toggle('full'); // Adjust content width
        toggleBtn.classList.toggle('shift'); // Move toggle button
    });
</script>