{%include 'header.html'%}

{% block navbar_admin %}
    {% include 'dashboards/admin/admin_nav.html' %}
{% endblock %}

    
<!-- Main Content -->
<div class="main-content" id="content">
    <div class="container mt-5">
        
   
<h2>Admin: Delete Category</h2>
<p>Are you sure you want to delete <strong>{{ category.name }}</strong>?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a href="{% url 'admin_delete_categories' %}" class="btn btn-secondary">Cancel</a>
</form>

    </div>
</div>

<!-- JavaScript -->
<script>
    // JavaScript for toggle functionality
    const toggleBtn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('hide'); // Toggle visibility of sidebar
        content.classList.toggle('full'); // Adjust content width
        toggleBtn.classList.toggle('shift'); // Move toggle button
    });
</script>
