{%include 'header.html'%}

{% block navbar_admin %}
    {% include 'dashboards/admin/admin_nav.html' %}
{% endblock %}


<!-- Main Content -->
<div class="main-content" id="content">
    <div class="container mt-5">

        <br>
        <br>

        <div class="card-group" style="display: flex; gap: 20px;  ">
        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Total Users</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">{{ total_users }}</h5>
              <br>
              <p class="card-text">view more>></p>
            </div>
        </div>


        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Total Products</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">{{total_products}}</h5>
              <br>
              <p class="card-text">view more>></p>
            </div>
        </div>

        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Total Category</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">{{total_categories}}</h5>
              <br>
              <p class="card-text">view more>></p>
            </div>
        </div>

        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Shops</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">{{shop}}</h5>
              <br>
              <p class="card-text"><a href="#" style="text-decoration: none;">view more>></a></p>
            </div>
        </div>
    
    </div>

    <div class="card-group" style="display: flex; gap: 20px;  ">
        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Total Order</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">{{total_orders}}</h5>
              <p class="card-text">view more>></p>
            </div>
        </div>


        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Total Feedback</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">{{total_feedback}}</h5>
              <p class="card-text">view more>></p>
            </div>
        </div>

        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Low Stock</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">{{low_stock}}</h5>
              <p class="card-text">view more>></p>
            </div>
        </div>

        <div class="card text-bg-dark mb-3" style="height:160px;width: 300px;border-radius:10px;">
            <div class="card-header"><h4>Total Amount</h4></div>
            <div class="card-body">
              <h5 class="card-title text-center">Rs.{{total_amount}}</h5>
              <p class="card-text">view more>></p>
            </div>
        </div>

    </div>

          <br>
          <br>

          <br>
          <br>
  

        <h1>Profile: {{ user.username }}</h1>

        <h1>admin Dashboard</h1>
        <p>admin specific content here.</p>
    
    </div>
</div>

<!-- JavaScript -->
<script>
    // JavaScript for toggle functionality
    const toggleBtn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('hide'); // Toggle visibility of sidebar
        content.classList.toggle('full'); // Adjust content width
        toggleBtn.classList.toggle('shift'); // Move toggle button
    });
</script>

