{%include 'header.html'%}

{% block navbar_admin %}
    {% include 'dashboards/admin/admin_nav.html' %}
{% endblock %}


<!-- Main Content -->
<div class="main-content" id="content">
    <div class="container mt-5">

    <br>

    <h1>Delete Shops</h1>
    <table class="table" style="width: 600px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Shop Name</th>
                <th>Vendor Name</th>
                <th>Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for shop in shops %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ shop.shop_name }}</td>
                <td>{{ shop.vendor_name }}</td>
                <td>{{ shop.contact_number }}</td>
                <td>
                    <a href="{% url 'confirm_delete_shop' shop.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No shops available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

</div>
</div>

<!-- JavaScript -->
<script>
    // JavaScript for toggle functionality
    const toggleBtn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('hide'); // Toggle visibility of sidebar
        content.classList.toggle('full'); // Adjust content width
        toggleBtn.classList.toggle('shift'); // Move toggle button
    });
</script>
