{%include 'header.html'%}

{% block navbar_customer_shop %}
    {% include 'dashboards/shop/shop_nav_customer.html' %}
{% endblock %}

<!-- Main Content -->
<div class="main-content" id="content">
    <div class="container mt-5">
<br>
<br>
<h2>Change Your Password</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Render the form fields -->
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

<p><a href="{% url 'profile' %}">Back to your profile</a></p>
      
</div>
</div>

<!-- JavaScript -->
<script>
    // JavaScript for toggle functionality
    const toggleBtn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('hide'); // Toggle visibility of sidebar
        content.classList.toggle('full'); // Adjust content width
        toggleBtn.classList.toggle('shift'); // Move toggle button
    });
</script>
