
{%include 'header.html'%}


{% block navbar_shop %}
    {% include 'dashboards/shop/shop_nav.html' %}
{% endblock %}


<!-- Main Content -->
<div class="main-content" id="content">
    <div class="container mt-5">

    <br>
         
         
    </div>
</div>

<!-- JavaScript -->
<script>
    // JavaScript for toggle functionality
    const toggleBtn = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    const content = document.getElementById('content');

    toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('hide'); // Toggle visibility of sidebar
        content.classList.toggle('full'); // Adjust content width
        toggleBtn.classList.toggle('shift'); // Move toggle button
    });
</script>
