<!--
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.id }},{{ product.name }}</li>
        {% endfor %}
    </ul>
-->
<div class="container-fluid" style="background-color: #eff5ee; padding: 0;height:auto;">
    <div class="container my-4">
        <h1 class="text-center text-success">Best Selling Products</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-4">
            {% for product in products %}
            {% if product.trending %}
            <div class="col">
                <div class="card " style="height: 400px; overflow: hidden;">
                    <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                        <!-- Make the image responsive and avoid overflow -->
                        <img src="{{ product.image2.url }}" 
                             class="card-img-top img-fluid" 
                             alt="{{ product.name }}" 
                             style="height: 250px; object-fit: cover; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title text-center text-dark">{{ product.name }}</h5>
                            <h3 style=" margin-top:25px;width:200px;position: absolute; ">Rs {{ product.price }}</h3>
                            <br>
                            <div class="d-flex justify-content-start my-1" style="position: absolute; bottom: 80px;">
                                <span class="fa fa-star" style="color:orange;"></span>
                                <span class="fa fa-star" style="color:orange;"></span>
                                <span class="fa fa-star" style="color:orange;"></span>
                                <span class="fa fa-star" style="color:orange;"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <!-- Cart -->
                            <form method="post" action="{% url 'add_to_cart' product.id %}" style="position: absolute; bottom: 5px; right: 8px;">
                                {% csrf_token %}
                                <button 
                                    type="submit" 
                                    class="btn {% if product.stock == 0 %}btn-secondary{% else %}btn-success{% endif %}" 
                                    {% if product.stock == 0 %}disabled{% endif %}>
                                    <i class="fa-solid fa-cart-shopping"></i> 
                                    {% if product.stock == 0 %}Out of Stock{% else %}Add To Cart{% endif %}
                                </button>
                            </form>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

