{% load static %}
<div class="container-fluid" style="width:100vw; height:672px; overflow:hidden; overflow-x:hidden; position: relative; margin-top:60px;">
  <img alt="bg" class="bg-img bg-1 position-absolute" src="{% static 'images/bg7.png' %}" style="height: 650px; width: auto; object-fit: contain; left:-40px; margin-top:40px;">

  <div class="container text-center" style="width:700px; height:450px; overflow:hidden; position:absolute;top:180px; left:500px;" > 
    <div class="text-container">
      <h1 class="display-4 text-dark"  style=" overflow:hidden;">Order Your Daily Groceries</h1>
      <p class="text-success h5 mt-3" style=" overflow:hidden;">#Free Delivery</p>
      <form class="d-flex justify-content-center mt-4">
        <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  
  <img alt="bg" class="bg-img bg-1 position-absolute" src="{% static 'images/bg8.png' %}" style="height: 100%; width: auto; object-fit: contain;top:150px; left:1140px; top:1px; opacity:0.5">

</div>









