<div style="background-color: #eff5ee;">

{% include 'header.html'%}

{% block label_top %}
    {% include 'label_top.html' %}
{% endblock %}

{% block navbar %}
   
    {% include 'navbar.html'  %}
  
{% endblock %}



{% block carousel %}
    {% include 'carousel.html' %}
{% endblock %}

{% block card %}
    {% include 'small_cards.html' %}
{% endblock %}

{% block ban2 %}
    {% include 'banner2.html' %}
{% endblock %}

{% block card_product %}
     {% include 'cards_products.html' %}
{% endblock %}

{% block category %}
    {% include 'home_category.html' %}
{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</div>