{%include 'header.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website{% endblock %}</title>
</head>
    <body>

 

        {%include 'header.html'%}
        {% block label_top %}
        {% endblock %}
        {% block navbar %}
        {% endblock %}
        {% block carousel %}{% endblock %}
        {% block card %}{% endblock %}
        {% block ban2 %}{% endblock %}
        {% block card_product %}{% endblock %}
        {% block sample %}{% endblock %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block category %}{% endblock %}
        {% block brands %}{% endblock %}
        {% block blogs %}{% endblock %}
        {% block about %}{% endblock %}
        {% block footer %}{% endblock %}
       

        {% block register %}{% endblock %}
        {% block login %}{% endblock %}
        {% block logout %}{% endblock %}
        {% block profile %}{% endblock %}

        {% block navbar_admin %}{% endblock %}
        {% block admin_content %}{% endblock %}
        {% block navbar_shop %}{% endblock %}

        {% block customer_status %}{% endblock %}

</body>
