<!--
   https://fontawesome.com/search
   https://www.iconfinder.com/search/3d-illustrations?q=gril
-->
{%include 'header.html'%}

<!--heig-->
<nav class="navbar navbar-expand-lg bg-white fixed-top" id="heig" style="margin-top:50px; height:80px; margin-left:-20px;margin-left:-67px;">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Vegetables Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'category_detail' 1 %}" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-carrot icon-style"></i> Vegetables
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" href="{% url 'category_detail' 1 %}" >Leafy Green</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 1 %}" >Mushroom</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 1 %}" >Root</a></li>
          </ul>
        </li>

        <!-- Fresh Fruit Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-apple-whole icon-style"></i> Fresh Fruit
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="{% url 'category_detail' 2 %}" >Apple & Stone Fruits</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 2 %}" >Berries</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 2 %}" >Tropical & Exotic</a></li>
          </ul>
        </li>

        <!-- Meat Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-drumstick-bite icon-style"></i> Meat
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <li><a class="dropdown-item" href="{% url 'category_detail' 3 %}" >Chicken & Poultry</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 3 %}">Meat Gift Baskets</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 3 %}">Red Meat & Steaks</a></li>
          </ul>
        </li>

        <!-- Tasty Daily Brand -->
        <a class="navbar-brand d-none d-lg-flex" href="#" style="font-weight: 800; font-size: 40px;">Tasty Daily</a>

        <!-- Seafood Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-shrimp icon-style"></i> Seafood
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
            <li><a class="dropdown-item" href="{% url 'category_detail' 6 %}">Fish</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 6 %}">Lobsters</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 6 %}">Other Seafood</a></li>
          </ul>
        </li>

        <!-- Baking Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bread-slice icon-style"></i> Baking
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
            <li><a class="dropdown-item" herf="{% url 'category_detail' 7 %}">Bread</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 7 %}">Tortillas</a></li>
          </ul>
        </li>

        <!-- Drinks Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-martini-glass-citrus icon-style"></i> Drinks
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink6">
            <li><a class="dropdown-item" href="{% url 'category_detail' 8 %}">Juice</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 8 %}">Water</a></li>
          </ul>
        </li>

        <!-- Other Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink7" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-dice-four icon-style"></i> Other
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink7">
            <li><a class="dropdown-item" href="{% url 'category_detail' 9 %}">Milk</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 10 %}">Cheese</a></li>
            <li><a class="dropdown-item" href="{% url 'category_detail' 11 %}">Eggs</a></li>
          </ul>
        </li>
      </ul>

      <!-- Icons -->
   
      <ul class="navbar-nav ms-auto" id="icon">
   
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user icon-style"></i></a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}"><i class="fa-solid fa-magnifying-glass icon-style"></i></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'favorites_list' %}"><i class="fa-solid fa-heart icon-style"></i></a>
        </li>

        <!-- error -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_cart' %}"><i class="fa-solid fa-cart-shopping icon-style"></i></a>
        </li>
    
      </ul>
    </div>
  </div>
</nav>







#heig {

    height: 60px; /* Example height */
    
  }

  #heig .navbar-nav{
     margin-bottom: 5px;
     margin-left: 250px;
  }

#heig .nav-link{
    padding-right: 20;
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-top: 16px;
    
}

#heig .dropdown-toggle::after {
    display: none !important; /* Important to override Bootstrap styles */
  }

#navbarNav{
    justify-content: center;
}
#heig #brand{
    margin-bottom: 20px;
}



#heig #navbarNav .dropdown-menu {
    background-color:  #198754; /* Set the background color of the dropdown menu */
  }
  
  #heig #navbarNav .dropdown-item {
    color: white;
  }
  
  #heig #navbarNav .dropdown-item:hover {
    background-color:white !important; 
    color: #060606; /* Change the color on hover if desired ------------------------------------------------------------*/
  }
  
  #icon li{
    margin-top: -10px;
}

/* Default icon style */
.icon-style {
  color: #000000; /* Default color */
  font-size: 24px;
  margin-right: px;
  transition: color 0.3s ease; /* Transition for smooth color change */
}

/* Hover effect */
.icon-style:hover {
  color:#198754 ; /* Change color to white on hover */
}


  



 
        


{% load static %}
<div class="container-fluid" style="width:100vw; height:672px; overflow:hidden; overflow-x:hidden; position: relative; margin-top:60px;">
  <img alt="bg" class="bg-img bg-1 position-absolute" src="{% static 'images/bg7.png' %}" style="height: 650px; width: auto; object-fit: contain; left:-40px; margin-top:40px;">

  <div class="container text-center" style="width:700px; height:450px; overflow:hidden; position:absolute;top:180px; left:500px;" > 
    <div class="text-container">
      <h1 class="display-4 text-dark"  style=" overflow:hidden;">Order Your Daily Groceries</h1>
      <p class="text-success h5 mt-3" style=" overflow:hidden;">#Free Delivery</p>
      <form class="d-flex justify-content-center mt-4">
        <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  
  <img alt="bg" class="bg-img bg-1 position-absolute" src="{% static 'images/bg8.png' %}" style="height: 100%; width: auto; object-fit: contain;top:150px; left:1140px; top:1px; opacity:0.5">

</div>


{% load static %}
<div class="container-fluid" style="width:100vw; height:672px; overflow:hidden; overflow-x:hidden; position: relative; margin-top:60px;">
  <!-- Desktop Image -->
       <img alt="bg" class="bg-img bg-desktop position-absolute" 
       src="{% static 'images/bg7.png' %}" 
       style="height: 650px; width: auto; object-fit: contain; left:-40px; margin-top:40px;">

       <div class="container text-center" style="width:700px; height:450px; overflow:hidden; position:absolute;top:180px; left:500px;"> 
        <div class="text-container">
          <h1 class="display-4 text-dark" style="overflow:hidden;">Order Your Daily Groceries</h1>
          <p class="text-success h5 mt-3" style="overflow:hidden;">#Free Delivery</p>
          <form class="d-flex justify-content-center mt-4">
            <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>

       <img alt="bg" class="bg-img bg-desktop position-absolute" 
          src="{% static 'images/bg8.png' %}" 
          style="height: 100%; width: auto; object-fit: contain;top:150px; left:1140px; top:1px; opacity:0.5">

  <!-- Mobile Image -->
  <img alt="bg" class="bg-img bg-mobile position-absolute" 
  src="{% static 'images/bg8_up.png' %}" 
  style="height:280px;width:100;margin-top:50px; object-fit: contain; opacity:0.5">



  <div class="container text-center bg-mobile" style="width:300px; height:250px; overflow:hidden; position:absolute;top:180px; left:95px;"> 
    <div class="text-container">
      <h1 class="display-4 text-dark" style="overflow:hidden;">Order Your Daily Groceries</h1>
      <p class="text-success h5 mt-3" style="overflow:hidden;">#Free Delivery</p>
      <form class="d-flex justify-content-center mt-4">
        <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <img alt="bg" class="bg-img bg-mobile position-absolute" 
       src="{% static 'images/bg7_down.png' %}" 
       style="height:280px;width:450px;margin-top:380px;">

</div>

<!-- CSS for Different Views -->
<style>
  /* Desktop View */
  @media (min-width: 768px) {
    .bg-desktop {
      display: block;
    }
    .bg-mobile {
      display: none;
    }
  }
  
  /* Mobile View */
  @media (max-width: 767px) {
    .bg-desktop {
      display: none;
    }
    .bg-mobile {
      display: block;
      width: 100vw;
      height: auto; /* Make sure the height adjusts properly on mobile */
      object-fit: cover; /* Adjust image aspect ratio */
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  
</style>
------------------
new 


{% load static %}
<div class="container-fluid" style="width:100vw; height:672px; overflow:hidden; overflow-x:hidden; position: relative; margin-top:60px;">
  <!-- Desktop Image -->
       <img alt="bg" class="bg-img bg-desktop position-absolute" 
       src="{% static 'images/bg7.png' %}" 
       style="height: 650px; width: auto; object-fit: contain; left:-40px; margin-top:40px;">

       <div class="container text-center" style="width:700px; height:450px; overflow:hidden; position:absolute; top:180px; left:500px;">
        <div class="text-container">
          <h1 class="display-4 text-dark" style="overflow:hidden;">Order Your Daily Groceries</h1>
          <p class="text-success h5 mt-3" style="overflow:hidden;">#Free Delivery</p>
          <form class="d-flex justify-content-center mt-4">
            <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
       <img alt="bg" class="bg-img bg-desktop position-absolute" 
          src="{% static 'images/bg8.png' %}" 
          style="height: 100%; width: auto; object-fit: contain;top:150px; left:1140px; top:1px; opacity:0.5">

  <!-- Mobile Image -->
  <img alt="bg" class="bg-img bg-mobile position-absolute" 
  src="{% static 'images/bg8_up.png' %}" 
  style="height:280px;width:450;margin-top:50px; object-fit: contain; opacity:0.5">



  <div class="container text-center bg-mobile" style="width:300px; height:250px; overflow:hidden; position:absolute;top:180px; left:95px;"> 
    <div class="text-container">
      <h1 class="display-4 text-dark" style="overflow:hidden;">Order Your Daily Groceries</h1>
      <p class="text-success h5 mt-3" style="overflow:hidden;">#Free Delivery</p>
      <form class="d-flex justify-content-center mt-4">
        <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <img alt="bg" class="bg-img bg-mobile position-absolute" 
       src="{% static 'images/bg7_down.png' %}" 
       style="height:280px;width:450px;margin-top:380px;">

</div>

<!-- CSS for Different Views -->
<style>
  /* Desktop View */
  @media (min-width: 768px) {
    .bg-desktop {
      display: block;
    }
    .bg-mobile {
      display: none;
    }
  }
  
  /* Mobile View */
  @media (max-width: 767px) {
    .bg-desktop {
      display: none;
    }
    .bg-mobile {
      display: block;
      width: 100vw;
      height: auto; /* Make sure the height adjusts properly on mobile */
      object-fit: cover; /* Adjust image aspect ratio */
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  
</style>
]]]]
{% load static %}


<h1 class="text text-center" style="color: #198754;">Categories</h1>

<!-- Container with 100% width and overflow hidden to prevent sidebars -->
<div class="container-fluid" style="height: 350px; max-width: 100%; overflow-x: hidden; padding: 0;">
    <div class="swiper-container" style="padding: 0;">
        <div class="swiper-wrapper">
            {% for category in categories %}
            <div class="swiper-slide" style="box-sizing: border-box; padding: 10px;">
                <a href="{% url 'category_detail' category.id %}" class="hover-up" style="text-decoration: none;">
                    {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" style="width: 100%; max-height: 250px; object-fit: cover; border-radius: 15px;">
                        <div class="card-body">
                            <p class="card-text text-center" style="font-weight: bold; font-size: 25px; color: black;">
                                {{ category.name }}
                            </p>
                        </div>
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="Default Image" style="width: 100%; max-height: 250px; object-fit: cover; border-radius: 15px;">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="swiper-button-next" style="color: #198754;margin-top:-100px;"></div>
    <div class="swiper-button-prev" style="color: #198754;margin-top:-100px;"></div>
</div>

<style>
    /* Remove padding/margin globally to prevent overflow and sidebars */
    body, html {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevent horizontal scroll */
    }

    .container-fluid {
        padding: 0; /* Remove padding from container */
        overflow-x: hidden; /* Prevent sidebars */
    }

    /* Ensure swiper and swiper-slide are fluid and responsive */
    .swiper-container {
        width: 100%; /* Ensure the container takes full width */
        padding: 10px 0;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: nowrap;
    }

    .swiper-slide img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    /* Media Queries for Responsive Design */
    @media (max-width: 1200px) {
        .swiper-container {
            height: auto;
        }
        .swiper-slide img {
            height: 200px;
        }
        .card-text {
            font-size: 20px;
        }
    }

    @media (max-width: 768px) {
        .swiper-container {
            height: auto;
            padding: 20px;
        }
        .swiper-slide img {
            height: 180px;
        }
        .card-text {
            font-size: 18px;
        }
    }

    @media (max-width: 576px) {
        .swiper-container {
            height: auto;
            padding: 10px;
        }
        .swiper-slide img {
            height: 150px;
        }
        .card-text {
            font-size: 16px;
        }
    }
</style>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3, // Default number of slides
        spaceBetween: 30, // Default space between slides
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        // Responsive breakpoints
        breakpoints: {
            1200: {
                slidesPerView: 3,
                spaceBetween: 30
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            576: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
</script>


.read-more-btn-container {
           
  margin-top:-130px;
  margin-left:-270px;
  width: 500px;
  height: 105px;
}
.read-more{
  hegiht:100px;
  width:120px;
  
}



>>>

{% load static %}

<h1 class="text text-center" style="color:#198754;">Categories</h1>
<div class="container-fluid" style="height: 370px;">
    <div class="swiper-container" style="padding: 30px;">
        <div class="swiper-wrapper" style="left: 10px; padding: 30px; height: 250px;">
            {% for category in categories %}
            <div class="swiper-slide">
                <a href="{% url 'category_detail' category.id %}" class="hover-up" style="text-decoration: none;">
                    {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" style="height: 250px; border-radius: 35px;">
                        <div class="card-body">
                            <p class="card-text text-center" style="font-weight: bold; font-size: 25px; color: black;">
                                {{ category.name }}
                            </p>
                        </div>
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="Default Image" style="height: 250px; border-radius: 35px;">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="swiper-button-next" style="margin-top: 590px; color: #198754;"></div>
    <div class="swiper-button-prev" style="margin-top: 590px; color: #198754;"></div>
</div>

<style>
    /* Media Queries for Responsive Design */
    @media (max-width: 1200px) {
        .swiper-container {
            height: auto;
        }
        .swiper-slide img {
            height: 200px;
        }
        .card-text {
            font-size: 20px;
        }
    }

    @media (max-width: 768px) {
        .swiper-container {
            height: auto;
            padding: 20px;
        }
        .swiper-slide img {
            height: 180px;
        }
        .card-text {
            font-size: 18px;
        }
    }

    @media (max-width: 576px) {
        .swiper-container {
            height: auto;
            padding: 10px;
        }
        .swiper-slide img {
            height: 150px;
        }
        .card-text {
            font-size: 16px;
        }
    }
</style>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3, // Default number of slides
        spaceBetween: 30, // Default space between slides
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        // Responsive breakpoints
        breakpoints: {
            1200: {
                slidesPerView: 3, // 3 slides for larger screens
                spaceBetween: 30
            },
            768: {
                slidesPerView: 2, // 2 slides for medium-sized screens
                spaceBetween: 20
            },
            576: {
                slidesPerView: 1, // 1 slide for small screens
                spaceBetween: 10
            }
        }
    });
</script>



-----
{% load static %}
<div class="container-fluid" style="width:100vw; height:100vh; overflow:hidden; position:relative; margin-top:0;">
  <!-- Desktop Image -->
  <img alt="bg" class="bg-img bg-desktop position-absolute" 
       src="{% static 'images/bg7.png' %}" 
       style="height:650px; width:auto; object-fit:cover; top:0; left:0;margin-top:100px;">

  <div class="container text-center bg-desktop" 
       style="width:700px; height:450px; position:absolute; top:180px; left:50%; transform:translateX(-50%);">
    <div class="text-container">
      <h1 class="display-4 text-dark">Order Your Daily Groceries</h1>
      <p class="text-success h5 mt-3">#Free Delivery</p>
      <form class="d-flex justify-content-center mt-4">
        <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <img alt="bg" class="bg-img bg-desktop position-absolute" 
       src="{% static 'images/bg8.png' %}" 
       style="height:650px; width:auto; object-fit:cover; top:0; right:0; opacity:0.5;margin-top:100px;">

  <!-- Mobile Image -->
  <img alt="bg" class="bg-img bg-mobile position-absolute" 
       src="{% static 'images/bg8_up.png' %}" 
       style="width:100%; height:auto; object-fit:cover; opacity:0.5; top:50px;">

  <div class="container text-center bg-mobile" 
       style="width:300px; height:auto; position:absolute; top:250px; left:50%; transform:translateX(-50%);">
    <div class="text-container">
      <h1 class="h5 text-dark">Order Your Daily Groceries</h1>
      <p class="text-success h6 mt-3">#Free Delivery</p>
      <form class="d-flex justify-content-center mt-4">
        <input class="form-control me-2" type="search" placeholder="Search your daily groceries" aria-label="Search" required>
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>

  <img alt="bg" class="bg-img bg-mobile position-absolute" 
       src="{% static 'images/bg7_down.png' %}" 
       style="width:100%; height:auto; object-fit:cover; bottom:0;">
</div>

<!-- CSS for Different Views -->
<style>
  /* Mobile View (Default) */
  .bg-desktop {
    display: none;
  }
  .bg-mobile {
    display: block;
  }
  .bg-img {
    object-fit: cover;
  }

  /* Desktop View */
  @media (min-width: 768px) {
    .bg-desktop {
      display: block;
    }
    .bg-mobile {
      display: none;
    }
  }
</style>



????>>>>>>>>>>>>>>>>>>>>
<div class="container-fluid" style="background-color: #eff5ee; padding: 0; overflow-x: hidden;">
  <div class="container my-4">
      <h1 class="text-center text-success">Best Selling Products</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-4">
          {% for product in products %}
          {% if product.trending %}
          <div class="col">
              <div class="card h-100" style="height: 400px; overflow: hidden;">
                  <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                      <!-- Make the image responsive and avoid overflow -->
                      <img src="{{ product.image2.url }}" 
                           class="card-img-top img-fluid" 
                           alt="{{ product.name }}" 
                           style="height: 250px; object-fit: cover; width: 100%;">
                      <div class="card-body">
                          <h5 class="card-title text-center text-dark">{{ product.name }}</h5>
                          <h3>Rs {{ product.price }}</h3>
                          <br>
                          <div class="d-flex justify-content-start my-1" style="position: absolute; bottom: 40px;">
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star"></span>
                          </div>
                          <!-- Cart -->
                          <form method="post" action="{% url 'add_to_cart' product.id %}" style="position: absolute; bottom: 10px; right: 8px;">
                              {% csrf_token %}
                              <button 
                                  type="submit" 
                                  class="btn {% if product.stock == 0 %}btn-secondary{% else %}btn-success{% endif %}" 
                                  {% if product.stock == 0 %}disabled{% endif %}>
                                  <i class="fa-solid fa-cart-shopping"></i> 
                                  {% if product.stock == 0 %}Out of Stock{% else %}Add To Cart{% endif %}
                              </button>
                          </form>
                      </div>
                  </a>
              </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
  </div>
</div>

<!-- CSS to prevent horizontal scrolling -->
<style>
  /* Prevent horizontal overflow on the entire page */
  body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

  /* Container and row adjustments */
  .container-fluid {
      padding: 0;
  }

  .row {
      margin: 0;
      overflow: hidden;
  }

  /* Ensure images fit within their container */
  .card-img-top {
      object-fit: cover;
      width: 100%;
      height: 250px;
  }

  /* Ensure cards don't cause overflow */
  .card {
      height: 100%;
      overflow: hidden;
  }
</style>







////////////////////////////////////////////////////////////////////
<div class="container-fluid" style="background-color: #eff5ee; padding: 0;height:auto;">
  <div class="container my-4">
      <h1 class="text-center text-success">Best Selling Products</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-4">
          {% for product in products %}
          {% if product.trending %}
          <div class="col">
              <div class="card " style="height: 450px; overflow: hidden;">
                  <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
                      <!-- Make the image responsive and avoid overflow -->
                      <img src="{{ product.image2.url }}" 
                           class="card-img-top img-fluid" 
                           alt="{{ product.name }}" 
                           style="height: 250px; object-fit: cover; width: 100%;">

                      <div class="card-body">
                          <h5 class="card-title text-center text-dark">{{ product.name }}</h5>

                          

<!-- Product Price -->
<h3 style="color: black;margin-top:25px;width:200px;position: absolute;" id="selected-price-{{ product.id }}">
  Rs {{ product.variants.first.price  }}
</h3>

                          <br>
                          <div class="d-flex justify-content-start my-1" style="position: absolute; bottom: 80px;">
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star" style="color:orange;"></span>
                              <span class="fa fa-star"></span>
                          </div>



<!-- Variant Dropdown -->
<div class="product-dropdown dropdown mt-3" >
  <button class="btn btn-outline-success dropdown-toggle" 
          type="button" 
          id="variantDropdown{{ product.id }}" 
          data-bs-toggle="dropdown" 
          aria-expanded="false" 
          style="border-radius: 10px; width: 100%; height: 30px; margin-top:30px;">
      Select Variant
  </button>
  <ul class="dropdown-menu" aria-labelledby="variantDropdown{{ product.id }}">
      {% for variant in product.variants.all %}
      <li>
          <a class="dropdown-item" href="#" 
             data-price="{{ variant.price }}" 
             data-variant="{{ variant.weight.variant_name }}">
              {{ variant.weight.variant_name }} - Rs {{ variant.price }}
          </a>
      </li>
      {% endfor %}
  </ul>
</div>


                          <!-- Add to Cart Button -->
                  <form method="post" action="{% url 'add_to_cart' product.id %}" class="mt-3" style="position: absolute; bottom: 5px; right: 8px;">
                      {% csrf_token %}
                      <!-- Hidden inputs to store selected variant data -->
                      <input type="hidden" name="variant_name" id="selectedVariantName{{ product.id }}">
                      <input type="hidden" name="variant_price" id="selectedVariantPrice{{ product.id }}">
                      
                      <button type="submit" 
                              class="btn btn-success add-to-cart-btn {% if product.stock == 0 %}btn-secondary{% endif %}" 
                              {% if product.stock == 0 %}disabled{% endif %}>
                          <i class="fa-solid fa-cart-shopping"></i> 
                          {% if product.stock == 0 %}Out of Stock{% else %}Add To Cart{% endif %}
                      </button>
                  </form>
                          
                      </div>
                  </a>
              </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Favorite Button Functionality
      const favoriteButtons = document.querySelectorAll('.favorite-button');
      favoriteButtons.forEach(function (button) {
          button.addEventListener('click', function (event) {
              event.preventDefault(); // Prevent the form submission to avoid page reload
              const icon = button.querySelector('i');
              icon.classList.toggle('text-danger'); // Toggle the 'text-danger' class (red heart)
              const form = button.closest('form');
              form.submit(); // Optionally, send an AJAX request to update the server
          });
      });
  
     // Dropdown Variant Selection Functionality
  document.querySelectorAll('.product-dropdown').forEach(function (dropdown) {
      const dropdownButton = dropdown.querySelector('.dropdown-toggle');
      const menuItems = dropdown.querySelectorAll('.dropdown-item');
      const selectedVariantNameInput = dropdown.parentElement.querySelector('input[name="variant_name"]');
      const selectedVariantPriceInput = dropdown.parentElement.querySelector('input[name="variant_price"]');

      // Add event listeners to all dropdown items
      menuItems.forEach(function (item) {
          item.addEventListener('click', function (event) {
              event.preventDefault(); // Prevent default link behavior

              // Get data from the clicked item
              const variantName = this.getAttribute('data-variant');
              const variantPrice = this.getAttribute('data-price');

              // Update the dropdown button text
              dropdownButton.textContent = `${variantName} - Rs ${variantPrice}`;

              // Update the hidden inputs in the form
              selectedVariantNameInput.value = variantName;
              selectedVariantPriceInput.value = variantPrice;

              // Dynamically update the displayed price in the correct card
              const selectedPriceElement = dropdown.parentElement.querySelector(`#selected-price-${dropdownButton.id.replace('variantDropdown', '')}`);
              if (selectedPriceElement) {
                  selectedPriceElement.textContent = `Rs ${variantPrice}`;
              }
          });
      });
  });
});
  
  
</script>

///////////////////////////------------------------------------------///////////////////////////

from django import forms
from django.forms import inlineformset_factory
from .models import Product, ProductVariant

class ProductForm(forms.ModelForm):
    class Meta:
        model = Product
        fields = ['name', 'category', 'description', 'stock', 'color_variant', 'size_variant', 'image2', 'available']

class ProductVariantForm(forms.ModelForm):
    class Meta:
        model = ProductVariant
        fields = ['weight', 'price']

# Create an inline formset for Product and ProductVariant
ProductVariantFormSet = inlineformset_factory(
    Product, ProductVariant, form=ProductVariantForm, extra=1, can_delete=True
)




# Add product:


def add_product(request):
    if request.method == 'POST':
        product_form = ProductForm(request.POST, request.FILES)
        formset = ProductVariantFormSet(request.POST)

        if product_form.is_valid() and formset.is_valid():
            # Save the product instance
            product = product_form.save()

            # Set the instance of the formset to the saved product
            formset.instance = product

            # Save the formset (product variants)
            formset.save()

            # Redirect to product list or another page
            return redirect('view_products')  # Update with your actual redirect URL
    else:
        product_form = ProductForm()
        formset = ProductVariantFormSet()

    return render(request, 'add_product.html', {
        'product_form': product_form,
        'formset': formset,
    })


    tem[late]

    
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <!-- Product Form -->
      <div>
          {{ product_form.as_p }}
      </div>
  
      <h3>Product Variants (Price & Weight)</h3>
      <div class="formset" id="product-variants">
          {{ formset.management_form }}
          
          <!-- Loop through existing forms -->
          {% for form in formset %}
              <div class="form-row">
                  {{ form.as_p }}
                  <button type="button" class="remove-form">Remove Variant</button>
              </div>
          {% endfor %}
      </div>
      
      <!-- Button to add more variants -->
      <button type="button" id="add-variant">Add Variant</button>
  
      <!-- Submit Button -->
      <button type="submit">Save Product</button>
  </form>

  ///////////////////////////
  document.getElementById('add-variant').addEventListener('click', function () {
    const formsetDiv = document.getElementById('product-variants');
    const totalFormsInput = formsetDiv.querySelector('input[name$="-TOTAL_FORMS"]');
    const totalForms = parseInt(totalFormsInput.value);
    const formClone = formsetDiv.querySelector('.row.form-row').cloneNode(true);
    
    // Reset cloned form inputs and update names/ids
    formClone.querySelectorAll('input').forEach(input => {
        input.value = ''; // Clear input values

        // Update name and id for each input field
        const nameAttr = input.name.replace(/-\d+-/, `-${totalForms}-`);
        input.setAttribute('name', nameAttr);
        input.id = input.id.replace(/-\d+-/, `-${totalForms}-`);

        // Create and append a div to display the updated name and id next to the input field
        const infoDiv = document.createElement('div');
        infoDiv.classList.add('input-info'); // Add a class for styling
        infoDiv.innerText = `Name: ${input.name}, ID: ${input.id}`;

        // Append the infoDiv next to the input
        input.parentElement.appendChild(infoDiv);
    });

    // Add the cloned form to the formset
    formsetDiv.appendChild(formClone);
    
    // Update the total form count
    totalFormsInput.value = totalForms + 1;
});

document.querySelectorAll('.remove-form').forEach(btn => {
    btn.addEventListener('click', function () {
        // Remove the entire form row when the remove button is clicked
        this.closest('.form-row').remove();
    });
});

<form method="POST" enctype="multipart/form-data" class="container mt-4">
  {% csrf_token %}

  <!-- Product Form -->
  <h2>Add Product</h2>
  <div class="mb-3">
      {{ product_form.as_p }}
  </div>

  <!-- Product Variants Section -->
  <h3>Product Variants (Price & Weight)</h3>
  <div id="product-variants">
      {{ formset.management_form }}

      <!-- Loop through existing forms -->
      {% for form in formset %}
          <div class="row mb-3 form-row">
              <div class="col">
                  {{ form.as_p }}
              </div>
              <div class="col-auto">
                  <button type="button" class="btn btn-danger remove-form">Remove</button>
              </div>
          </div>
      {% endfor %}
  </div>

  <!-- Add Variant Button -->
  <button type="button" id="add-variant" class="btn btn-secondary mb-3">Add Variant</button>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary">Save Product</button>
</form>
jj



&&&&&&&&&&&&&&&&&&&&&&&&&&
<a href="{% url 'edit_shop' shop.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_shop' shop.id %}" class="btn btn-danger">Delete</a>
                {% if not shop.is_approved %}
                <a href="{% url 'approve_shop' shop.id %}" class="btn btn-success">Approve</a>
                {% endif %}