


<nav class="navbar navbar-expand-lg bg-white fixed-top" id="heig" style="margin-top:50px;height:80px;" >
  <div class="container-fluid " style="height:50px; overflow: hidden;">

    
        
        
        <!-- Navbar Toggler for Small Screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Offcanvas Component -->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <!--elements-->
          <div class="offcanvas-body" id="navbarNav">
            <ul class="navbar-nav" style="margin-left:150px;"> <!-- changing the whole elem in navbar -->

              <li class="nav-item">
                <a class="nav-link" href="{% url 'category_detail' 1 %}">
                    <i class="fa-solid fa-carrot icon-style"></i> Vegetables
                </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category_detail' 2 %}">
                <i class="fa-solid fa-apple-whole icon-style"></i> Fresh Fruit
              </a>
          </li>

              

               

                <!-- Meat Dropdown -->

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category_detail' 3 %}">
                    <i class="fa-solid fa-drumstick-bite icon-style"></i> Meat
                  </a>
              </li>
                

               <!-- Tasty Daily Brand -->
               <a class="navbar-brand d-none d-lg-flex " href="#" style="font-weight: 800; font-size: 40px;">Tasty Daily</a>

                 <!-- Seafood Dropdown -->

                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'category_detail' 4 %}">
                    <i class="fa-solid fa-shrimp icon-style"></i> Seafood
                  </a>
              </li>


                    <!-- Baking Dropdown -->

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'category_detail' 5 %}">
                        <i class="fa-solid fa-bread-slice icon-style"></i> Baking
                      </a>
                  </li>

                  

                     <!-- Drinks Dropdown -->

                     <li class="nav-item">
                      <a class="nav-link" href="{% url 'category_detail' 6 %}">
                        <i class="fa-solid fa-martini-glass-citrus icon-style"></i> Drinks
                      </a>
                  </li>

                   

                    

                      <ul class="navbar-nav ms-auto" id="icon">
   
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user icon-style"></i></a>
                        </li>
                
                
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'search' %}"><i class="fa-solid fa-magnifying-glass icon-style"></i></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'favorites_list' %}"><i class="fa-solid fa-heart icon-style"></i></a>
                        </li>
                
                        <!-- error -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_cart' %}"><i class="fa-solid fa-cart-shopping icon-style"></i></a>
                        </li>
                    
                      </ul>
          
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
    
  </div>
</nav>
